@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --teal600: #0d9488;
  --teal500: #14b8a6;
  --teal400: #2dd4bf;
  --teal300: #6ee7b7;
  --rose500: #ef4444;
  --rose600: #dc2626;
  --toastify-color-success: #22c55e !important;
  --toastify-color-error: #e11d48 !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: var(--teal300);
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--teal300);
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

#appbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 11px;
}

.w-18 {
  width: 4.5rem;
}

/* Track */
#appbar::-webkit-scrollbar-track {
  background: #0d9488;
  transition: 0.2s;
}


/* Handle */
#appbar::-webkit-scrollbar-thumb {
  background: #0d9488;
  transition: 0.2s;
}

#appbar:hover::-webkit-scrollbar-thumb {
  /*background: #4c6e6c;*/
  background: #08776ebb;
  transition: 0.2s;
  transition-delay: 1s;
}

/* Handle on hover */
#appbar::-webkit-scrollbar-thumb:hover {
  /*background: #425f5d;*/
  background: #0b6b63d8;
}

#appbar{
  transition: 0.2s;
}

#appbar:hover{
  width: 15rem;
  transition: 0.3s;
  transition-delay: 0.4s;
}

#appbar .appbar-content {
  opacity: 0%;
  transition: 0.3s;
  visibility: hidden;
}

#appbar:hover .appbar-content {
  opacity: 100%;
  transition: 0.6s;
  transition-delay: 0.5s;
  visibility: visible;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customTable {
  table-layout: auto;
  /*box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);*/
  width: 100%;
  border-collapse: collapse;
}

.inp-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
}

.inp-container input[type="checkbox"] {
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.inp-container .check {
  display: block;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: white;
  border: 1px solid#9ca3af;
  pointer-events: none;
  transition: border 0s;
  opacity: 100%;
  transition: border 0s;
}

.inp-container input[type="checkbox"]:hover~.check {
  border: 1px solid #5eead4;
}

.inp-container input[type="checkbox"]:active~.check {
  opacity: 60%;
  transition: 0s;
}

.inp-container input[type="checkbox"]:checked~.check {
  background-color: #2dd4bf;
  border: 0;
}

.inp-container input[type="checkbox"]:checked~.check::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  clip-path: polygon(38% 61%, 73% 15%, 89% 28%, 42% 86%, 33% 86%, 8% 60%, 22% 46%);

}

.inp-container input[type="checkbox"]:checked:hover~.check {
  background-color: #14b8a6;
}

.inp-container input[type="checkbox"]:disabled~.check,
.inp-container input[type="checkbox"]:disabled:active~.check,
.inp-container input[type="checkbox"]:disabled {
  background-color: #e5e7eb;
  border: 1px solid #d1d5db;
  opacity: 100%;
  cursor: default;
}

.customTable td,
.customTable th {
  white-space: nowrap;
}

.customTable th {
  background-color: #f0fdfa;
  cursor: default;
}

.customTable th .filter-button {
  opacity: 0%;
  transition: 0.2s;
}

.customTable th:hover .filter-button {
  opacity: 100%;
  transition: 0.2s;
}



.customTable tbody tr {

  color: #334155;
  font-size: medium;
  cursor: pointer;
  transition: 0.4s;
  border-collapse: collapse;
  border-bottom: 1px solid #e2e8f0;
}

.customTable tbody tr:hover {
  background-color: #f1f5f9;
  transition: 0.2s;
}

.customTable thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.normal-button {
  background-color: var(--teal500);
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.normal-button:hover {
  color: white;
  background-color: var(--teal600);
  transition: 0.2s;
}

.normal-button:active {
  background-color: var(--teal400);
  transition: 0s;
}

.normal-button:disabled,
.normal-button:disabled:hover,
.normal-button:disabled:active {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}


.trash-button {
  background-color: #f43f5e;
  color: white;
  transition: 0.2s;
}

.trash-button:hover {
  background-color: #e11d48;
  transition: 0.2s;
}

.trash-button:active {
  opacity: 60%;
  transition: 0s;
}

.trash-button:disabled,
.trash-button:disabled:active,
.trash-button:disabled:hover {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}

.grayTrans {
  background-color: #3838388e;
  transition: 0.2s
}

.display-none {
  display: none;
  opacity: 0%;
  transition: 0.2s
}


.rose-opacity {
  background-color: var(--rose500);
  transition: 0.2s
}

.rose-opacity:hover {
  background-color: var(--rose600);
  transition: 0.2s
}

.rose-opacity:active {
  opacity: 50%;
  transition: 0s
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #e5e7eb;
}
.file{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: #e5e7eb;
}

.opacity-white {
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
}

.opacity-white:hover {
  background-color: #d1d5db;
  transition: 0.2s;
}

.opacity-white:active {
  opacity: 60%;
  transition: 0s;
}

.opacity-white:disabled,
.opacity-white:disabled:hover,
.opacity-white:disabled:active {
  background-color: #f3f4f6;
  opacity: 100%;
  cursor: default;
}


.total-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


#search-input {
  transition: 0.2s;
}

#search-input:focus {
  border: 1px solid #cbd5e1;
  transition: 0.2s;
}


.neutral-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
  color: #4b5563;
  transition: 0.2s;
}

.neutral-button:hover {
  background-color: #9ca3af;
  color: white;
  transition: 0.2s;
}

.neutral-button:active {
  opacity: 60%;
  transition: 0s;
}


.modal {
  opacity: 0%;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  transition: visibility 0.3s, opacity 0.3s, pointer-events 0s;
}

.modal.visible {
  opacity: 100%;
  visibility: visible;
  pointer-events: all;
  transition: visibility 0.3s, opacity 0.3s, pointer-events 0s;
}

.modal .modal-box {
  transform: translateY(25px);
  transition: 0.4s;
}

.modal.visible .modal-box {
  transform: translateY(0);
  transition: 0.4s;
}


#login-box {
  position: relative;
  background-color: white;

}

.login-box-shadow {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #252f3dcc;
  /*border-radius: 1rem;*/
  transform: translate(8px, 8px);
}

.touchable-opacity:active {
  opacity: 60%;
  transition: 0s;
}

.bg-login {
  background: rgb(16, 185, 129);
  background: linear-gradient(-3deg, rgba(16, 185, 129, 1) 0%, rgba(13, 148, 136, 1) 100%);
}

.palomita {
  clip-path: polygon(33% 73%, 85% 4%, 100% 17%, 34% 100%, 0 69%, 14% 54%);
}

.profile-table {
  table-layout: auto;
  border-collapse: collapse;
  border-block: 2px solid #cbd5e1;
  width: 100%;
}

.profile-table tr {
  border-block: 1px solid #cbd5e1;
  transition: 0.2s;
}

.profile-table tr .filter-button {
  opacity: 0%;
  transition: 0.2s;
}

.profile-table tr:hover .filter-button {
  opacity: 100%;
  transition: 0.2s;
}

#alert-box {
  opacity: 100%;
  transition: 0.2s;
}

#alert-box.hide {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.2s;
}

.array-row:hover button {
  opacity: 100%;
  transition: 0.2s;
}

.blurred {
  filter: blur(2px);
}

.pdf-gray {
  background: rgb(83, 87, 89);
  background: linear-gradient(0deg, rgba(83, 87, 89, 1) 0%, rgba(50, 54, 57, 1) 65%, rgba(50, 54, 57, 1) 100%);
}

.n-2{
  width: calc(100%/2);
  min-width: 150px;
}

.array-row::after{
  content: "";
  position: absolute;
  left: 0;
  opacity: 0%;
  pointer-events: none;
  /*
  background-color: #ff7d817b;
  */
  border:'1px solid #ff7d817b';
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.array-row:has( .vanish:active )::after{
  opacity: 100%;
  transition: 0.1s;
}

.hidden-button{
  visibility: hidden;
  pointer-events: none;
  opacity: 0%;
  transition: 0.2s;
}

.hover-show:hover .hidden-button{
  visibility: visible;
  pointer-events: all;
  opacity: 100%;
  transition: 0.2s;
}


.screen {
  height: 100vh;
}

